.loading {
  height: 1000px;
  background: url("../../assets/images/loading.gif") no-repeat fixed center;
}

.searchbox {
  margin-bottom: 25px;
}

.search-textbox {
  width: 10%;
  margin: auto;
  text-align: center;
}
