<div class="row">
  <div class="col-md-6">
    <img [src]="movie.Poster" />
  </div>
  <div class="col-md-6 movie-details">
    <h1>{{movie.Title}}: {{movie.Year}}</h1>
    <div *ngIf="movie.tomatoMeter != 'N/A'">
      <progress class="progress progress-striped progress-success" [class.progress-danger]="movie.tomatoMeter < 50" value="{{movie.tomatoMeter}}" max="100"></progress>
      <h1>{{ movie.tomatoMeter }}%</h1>
      <div class="consensus">
        <p>{{ movie.tomatoConsensus }}</p>
      </div>
    </div>
  </div>
</div>
<button (click)="goBack()" class="btn btn-info">Go Back</button>
