.poster {
  height: 175px;
  width: 120px;
}

.card-title {
  margin-top: 15px;
  font-size: 1.2vw;
}

.card-img-top {
  width: 100%;
  max-height: 290px;
}

.card {
  background: lightgrey;
  min-height: 435px;
}

@media (max-width: 1120px) {
  .card-title {
    font-size: 15px;
  }
}
