.container {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
}

.poster {
  height: 175px;
  width: 120px;
}

.card-title {
  margin-top: 15px;
  font-size: 16px;
  height: 40px;
}

.card-img-top {
  width: 100%;
  height: 290px;
}

.card {
  min-height: 475px;
}

@media (max-width: 1120px) {
  .card-title {
    font-size: 15px;
  }
}
